.FormX {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

.InputX {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #4f005f;
  flex-grow: 1;
}

.ButtonX {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #4f005f;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}
